<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>DPI Project</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='master.css') }}">
   </head>
   <body>
      <!-- partial:index.partial.html -->
      <!DOCTYPE html>
      <html lang="en">
         <head>
            <!-- META -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="author" content="Columbia DPI">
            <!-- CUSTOM FONTS AND STYLES -->
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,500&display=swap&subset=latin-ext" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         </head>
         <body>
            {% include "./components/header.html" %}
            <div id="container">
               <form>
                  Ticker 1: <input type="text" name="t1"><br>
                  Weight 1: <input type="text" name="w1"><br>
                  <br> 
                  Ticker 2: <input type="text" name="t2"><br>
                  Weight 2: <input type="text" name="w2"><br>
                  <br> 
                  Ticker 3: <input type="text" name="t3"><br>
                  Weight 3: <input type="text" name="w3"><br>
               </form>
               <button type="button" class="btn btn-primary" onclick="clickCalculate()">Calculate</button>
            </div>
            <img src="" />
         </body>
      </html>
      <!-- partial -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript"
         src="{{ url_for('static', filename='script.js') }}"></script>
   </body>
</html>