<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px">
    <a class="navbar-brand" href="/">Portfolio Optimisation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Columbia-DPI/Portfolio-Optimization">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.columbiadpi.com/">Columbia DPI</a>
            </li>
        </ul>
    </div>
</nav>